[Desktop Entry]
Type=Application
Name=AV Morning Star
Comment=Video and audio downloader
Exec=AV-Morning-Star
Icon=av-morning-star
Categories=AudioVideo;Audio;Video;
Terminal=false
