PyQt5>=5.15.0
yt-dlp>=2023.0.0
innertube>=2.1.0
requests>=2.28.0
beautifulsoup4>=4.11.0
Pillow>=10.0.0
ffmpeg-normalize>=1.36.0
google-auth>=2.16.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0
google-api-python-client>=2.80.0
